name: CI

on:
  push:
  pull_request:

jobs:
  build:
    name: Build Application
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Java 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Make Gradle wrapper executable
        run: chmod +x gradlew

      - name: Build with Gradle
        run: ./gradlew build

      #uploads the built application
      - name: Upload built application
        uses: actions/upload-artifact@v4
        with:
          name: app-build
          path: build/libs/

  test:
    name: Run Tests
    runs-on: ubuntu-latest
    #Ensures tests run AFTER successful build
    needs: build   

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Java 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Make Gradle wrapper executable
        run: chmod +x gradlew

      - name: Run test suite
        run: ./gradlew test
